  body {
    background:linear-gradient(to right, skyblue, #fc466b);
   }
  
   #navbar{
     height:30px;
     display:flex;
     gap:15px;
     color:black;

   }
   #navbar>p{
     margin:0;
     margin-top:8px;
   }